#nav, #nav ul {
list-style:none;
}

#menu {
    background-color: #d7d7d7;
}

#menu ul li a {
    text-decoration: none;
}

#menu ul li.menu-content p {
    font-size: 18px;
    font-family: gotham-bold;
    color: #005167;
    padding: 17px 29px 13px 14px;
}

#menu ul li.title p,
#menu ul li.title a{
    font-size: 14px;
    font-family: gotham-bold;
    color: #ffffff;
    padding: 8px 29px 7px 14px;
}

#menu ul li.title.parag1 {
    background-color: #005167;
    margin-bottom: 9px;
}

#menu ul li.title.parag2 {
    background-color: #0080b7;
}

#menu ul li.title.parag3 {
    background-color: #4aadb6;
}

#menu ul li.title.parag4 {
    background-color: #71bf44;
}

#menu ul li.title.parag5 {
    background-color: #349948;
    margin-bottom: 9px;
}

#menu ul li.title.parag6 {
    background-color: #357638;
    margin-bottom: 9px;
}

#menu ul li.title.parag7 {
    background-color: #826f3c;
    margin-bottom: 9px;
}

#menu ul li.title.parag8 {
    background-color: #ba6831;
}

#menu .submenu {
    margin-left: 23px;
}

#menu .submenu a {
    font-family: gotham-book;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    padding:  4px 8px 6px 8px;
}

#menu .submenu a.last {
    border-bottom: none;
}

#menu li {
display: block;
}

#menu li a {
display: block;
}



	